#keywords {
    display: block;
    position: fixed;
    left: 25%;
    top: 40%;
    width: 50%;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #C0C0C0;
    text-align: center;
    font-size: 2em;
    font-family: arial;
}

#keywords:focus {
    outline: 0;
    border-color: #989898;
}
#keywords::-webkit-input-placeholder {
    text-align: center;
}
#keywords:focus::-webkit-input-placeholder {
    color: transparent;
}

#submit {
    display: block;
    position: fixed;
    left: 40%;
    top: 50%;
    width: 20%;
    margin-top: 2%;
    border-radius: 5px;
    border-width: 2px;;
    border-style: solid;
    font-family: arial;
    font-size: 1.5em;
}

#spinner {
    display: none;
    position: fixed;
    left: 46%;
    top: 70%;
}

#desc {
    display: none;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 70%;
    font-family: arial;
    font-size: 2em;
}

#desc.active, #spinner.active {
    display: block;
}